body{
    background-color: #364F6B;
    margin : 0 0 1% 0;
    min-width: 450px;
    width: 100%;
}

h3 {
    color: #F5F5F5;
}

p{
    color: #F5F5F5;
}

#all{
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

#asterisk{
    margin-bottom: 5em;
}

#asterisk p{
    font-size: 10px;
    font-weight: lighter;
    text-align: center;
}

#bold {
    font-weight: bold;
}

#border{
    display: flex;
    justify-content: center;
    background-color: #319A99;
    margin-left: 43%;
    height: 50px;
    width: 200px;
    padding-bottom: 1%;
    margin-top: 2em;
    margin-bottom: 2em;
}

#contactform {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    
}

#contactform button {
    background-color: #319A99;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: block;
    margin: auto;
    align-content: center;
    margin-top: 110px;
}

#contactform div + div {
    margin-top: 1em;
}

#contactform form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    margin : 0 auto;
}

#contactform input, textarea, select {
    font: 1em;
    font-family: "Alegreya Sans", sans-serif;
    width: 200px;
    box-sizing: border-box;
    border: 1px solid #999;
    position: relative;
}

#contactform label {
    display: inline-block;
    width: 200px;
    text-align: left;
}

#contactform textarea {
    vertical-align: top;
    height: 5em;
}

#top {
    background-color: #319A99;
    padding-bottom: 3%;
    width: 100%;
    margin: 0;
}

.center{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;;
}

.contact {
    display: flex;
    justify-content: center;
}
.contact p{
    align-self: center;
    }


.line {
    background-color: #1B1D2B;
    height: 1px;
    width: 150px;
    display: flex;
    margin : 10px auto;
}

#phone{
    margin-left: -3%;
    padding-right: 2%;
}



  

  

  

  

