.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #319A99;
  margin-bottom: 2em;
  cursor: pointer; 
}


.category h2 {
  font-size: 1.3em;
  margin-left: 2em;
}


.contain p,
h3 {
  color: #F5F5F5;
}


.minus  {
  display: none;
}


.symbol h2 {
  font-size: 2em;
  color: #F5F5F5;
  margin: 0;
  margin-right: 1em;

}


.question {
  margin-bottom: 2em;
}


.question_list {
  display: none;
  margin-top: 0;
  margin-bottom: 2em;
}


#bit_part_runner {
  position: relative;
  height: 500px;
}


#bit_part_runner h2 {
  width: 35%;
  font-size: 1.5em;
  position: absolute;
  left: 55%;
  bottom: 50%;
  color: black;
}


#bit_part_runner img {
  margin-bottom: 25px;
  margin-top: 25px;
  width: 100%;
}


#body_text {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  margin-bottom: 3.8em;
}


#body_text h3 {
  margin-bottom: 1em;
  font-family: "Alegreya Sans", sans-serif;
}


@media (max-width:800px) {
  #bit_part_runner {
    height: 200px;
    margin-bottom: 50px;
    margin-top:50px
  }
  
  #bit_part_runner h2 {
    width: 35%;
    font-size: 24px;
    position: absolute;
    left: 55%;
    bottom: 15%;
  }
  
}

@media (max-width: 480px) {
  #bit_part_runner {
    height: 100px;
  }
  
  #bit_part_runner h2 {
    width: 35%;
    font-size: 14px;
    position: absolute;
    left: 55%;
    top: 20%;
  }
}