

.logo {
  height: 250px;
  width: 500px;
}
.payplug {
  width: 150px;
}
#copyright {
  border-top: 1px solid #f5f5f5;
  margin: auto;
  width: 90vw;
}
#copyright ul {
  display: flex;
  justify-content: space-between;
}

#copyright ul li {
  display: inline;
}

#copyright ul li img {
  height: 60px;
  width: 120px;
}

#copyright ul li:nth-child(even) {
  align-self: flex-end;
  margin-right: 60%;
  color: #f5f5f5;
}

#followus {
  padding-top: 40px;
}

#followus h4 {
  border: 0px;
}

#followus ul li {
  display: inline;
}

#followus ul li h4 {
  display: inline;
  vertical-align: middle;
  border: none;
 
}

#followus ul li img {
  vertical-align: middle;
}
#link {
  color: #f5f5f5;
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
  margin-top: 20px;
}
#link h4 {
  border-bottom: 1px solid #f5f5f5;
  line-height: 35px;
  padding-bottom: 10px;
  text-align: center;
  width: fit-content;
}
#newsletter {
  background-color: #319a99;
  display: block;
  height: 60px;
  text-align: center;
  width: 100%;
  
}
#newsletter button {
  border-radius: 0 30px 30px 0;
  
  min-height: 32px;
  padding-top: 2px;
  background-color: rgba(255, 254, 254, 0.22);;
  border:0;
  margin-left: 0;
  
}

#newsletter ul li input {
  background: rgba(255, 254, 254, 0.22);
  border-radius: 30px 0 0 30px;
  border: 0;
  width: 40%;
  height: 30px;
  outline: 0;
  
}
#newsletter ul li input[type="email"] {
  padding-left: 15px;
}
#newsletter ul li input::placeholder {
  color: black;
  font-size: 10px;
  vertical-align: middle;
  text-align: center;
}
#newsletter ul {
  padding-top: 15px;
  text-align: center;
}

#newsletter ul li {
  display: inline;
  margin: 0 10%;
}

@media(max-width:1000px){
  .logo {
    height: 125px !important;
    width: 250px !important;
  }
  #newsletter ul li {
 margin: 0 ;;
  }
  #copyright ul li:nth-child(even) {
    align-self: flex-end;
    margin-right: 10px ;
    color: #000000;
  }
  
  #followus ul li img {
    vertical-align: middle;
    width: 30px;
  }
  #link ul {
    padding: 20px
  }
  
}
@media(max-width:375px){
  #link h4 {
    font-size: 13px;
    
  }
  #newsletter ul{
    padding-left: 0px;
  }
  #followus {
    padding-top: 20px;
  }

 
   #link{
     flex-direction: column;
    
    
   }
   #link ul {
  
    margin: 0;
     padding:0;
   
  }
  footer{
    text-align: center;
    text-align:-webkit-center
  }
  #copyright ul {
  
    margin: 0;
     padding:0;
   
  }
}