header button {
  background-color: white;
  border: 0;
  border-radius: 0px 15px 15px 0px;
margin-left: 0;
  outline: 0;
  padding-right: 30px;
  margin-right: 10px;

}

header button img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

header form {
  display: flex;
  height: 100%;
  margin-left: 18%;
  width: 80%;

}

header input[type="text"] {
  color: black;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 24px;
  padding-left: 15px;
}

header li {
  float: left;
  margin: 0;
  padding: 0px 34px;
}


header::placeholder {
  color: black;
  font-size: 24px;
  text-align: center;
}

.clear {
  clear: both;
}

.clear a:hover{
  border-bottom: none;
  color: white;
}
.container {
  margin: auto;
  max-width: 100vw;
}

.right {
  float: right;
}

#cart img {
  height: 46px;
  width: 39px;
}

#container_logo {
  float: left;
}

#container_logo a:hover {
  border: none;
}

#header {
  font-size: 24px;
  height: auto;
  width: 100%;
}

#list {
  display: none;
}

#hamburger-btn {
  display: none;
}

#login {
  color: white;
  float: right;
  margin-right: 5%;
  margin-top: 5px;
}

#navbar {
  margin-right: 80px;
  margin-top: 12%;
}


#search {
  width: 90%;
}

#search-btn {
  width: 80%;
}

#search input {
  border: 0;
  border-radius: 15px 2px 1px 15px;
  outline: 0;

}

#search_cart {
  padding-right: 0;
  display: flex;
  margin-right: 0;
  margin-top: 10%;
}

@media (max-width: 1250px) {
  #menu {
    display: none !important;
  }

  #hamburger-btn {
    display: block;
    float: right;
    margin-right: 40px;
    cursor: pointer;

  }

  #hamburger-menu li {
    display: block;
    float: none;
    text-align: center;
    padding: 15px 0;
    padding-top: 37px;

  }

  #hamburger-menu ul {

    background-color: #2a3d52 !important;


  }

  #hamburger-menu li:hover {
    background-color: #2a3d52;
  }

  #hamburger-menu {
    padding-left: 0;
    margin-top: 20px;
  }
}

@media(max-width: 500px) {
  #header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0;
  }

  #search_cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 0;
  }

  #search {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #search form {
    margin-left: 0;
  }

  #cart {
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 1em;
  }
  
  #hamburger-btn {
    margin: auto;
    float: none;
  }

  #navbar {
    margin-top: 5%
  }
}