svg {
  overflow: visible;
  margin: 0;
}

.hidden {
  visibility: hidden;
}

.img_casque {
  display: block;
  height: 100%;
  margin: auto;
  width: auto;
}

#casque {
  background-color: #2a3d52;
  height: 500px;
  min-width: 48%;
  margin-right: 5%;
}

#first_block {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}

#isoles {
  background-color: #2a3d52;
  min-height: 170px;
  margin: auto;
  margin-top: 75px;
  padding: 25px;
  width: 55%;
  z-index: 2;
}

#main-product {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

#mip {
  background-color: #2a3d52;
  min-height: 470px;
  padding: 25px;
  width: 300px;
  min-width: 200px;
  z-index: 2;
  margin-left: 5%;
}

#products {
  text-align: center;
}

#products img {
  width: 100%;
}

#products > div {
  position: relative;
  margin-top: 40px;
}
#products a:hover {
  border-bottom: none;
}
#products .montre h3 {
  position: absolute;
  left: 9.3%;
  width: 40vw;
  margin-top: 2px;
  font-size: calc(2px + 2.7vw);
  text-align: left;
  letter-spacing: 0.9vw;
  line-height: 3.6vw;
  color: black;

  background: repeating-radial-gradient(
    farthest-corner at 100% 50%,
    #c35aa5 0%,
    #9c7c91 40.63%,
    #086181 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#products .casque h3 {
  position: absolute;
  left: 47.22%;

  top: 10.22%;
  color: black;
  width: 45vw;

  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: bold;
  font-size: calc(2px + 2.7vw);
  text-align: left;
  letter-spacing: 1.5vw;
  line-height: 3.6vw;

  background: repeating-radial-gradient(
    farthest-corner at 5% 20%,
    #d292a2 0%,
    #bab1b2 38.81%,
    #000000 55.73%,
    #cb8195 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#products .brassard h3 {
  position: absolute;
  left: 15.3%;

  background: repeating-radial-gradient(
    farthest-corner at 90% 20%,
    #8c8979 19%,
    #1b1d2b 29.58%,
    #718373 46.44%,
    #d6d6d6 49.15%,
    rgba(0, 0, 0, 0.71) 90.21%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* #8C8979  19%
#1B1D2B  29.58%
#718373  46.44%
#D6D6D6  49.15%
rgba(0, 0, 0, 0.71)  90.21% */

  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: bold;
  font-size: calc(2px + 2.7vw);
  text-align: left;
  letter-spacing: 1.5vw;
  line-height: 3.6vw;
  width: 35vw;
  color: black;
}
#products h2 {
  color: #f5eded;
  text-align: center;
  padding-top: 50px;
  font-size: 64px;
}

#runner img {
  margin-bottom: 25px;
  margin-top: 25px;
  width: 100%;
}

#spotify {
  text-align: center;
  color: #f5eded;
  padding: 3% 0;
}

@media (max-width: 1000px) {
  p {
    padding: 0 20px !important;
  }

  svg {
    display: none;
  }

  .img_casque {
    max-width: 100%;
  }

  #casque {
    margin-top: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 14% !important;
    width: 100%;
  }

  #first_block {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 0 !important;
  }

  #isoles {
    margin: 50px 0 0 0 !important;
    height: 800px;
    width: 100% !important;
    padding: 0 !important;
  }

  #main-product {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 1500px;
    justify-content: flex-start;
  }

  #main-product > * {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: flex-start;
  }

  #mip {
    margin-top: 20px !important;
    margin-left: 0 !important;
    margin-bottom: 10% !important;
    width: 100% !important;
    height: 40%;
    padding: 0 !important;
  }
}
