#whiteborder {
    border-top : 2px solid white;
    margin-top: 50px;
    width: 100%;
}

#product-page h3 {
    font-family: "Cabin", sans-serif;
}
#product-page h4 {
    margin: 0;
    margin-bottom: 2%;
    font-size: calc(8px + 1vw);
    text-align: center;
}
#product-page h5 {
    margin: 0;
    font-size: 1.6vw;
}
.article {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.first_article {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 6%;
}
#decal {
    margin-bottom: 6%;
}
    #second_article {
        width: 80%;
        margin: 0 auto 6%;
    }
        #img_list {
            display: flex;
            text-align: center;
        }
        .img_little_frame {
            background-color: #2a3d52;
            width: 20%;
            height: 100%;
            margin-right: 5%;
        }
        .img_little_frame img {
            width: 100%;
            padding: 12% 0;
        }
.content {
    width: 60%;
    font-size: calc(8px + 1vw);
}
.img_frame {
    width: 35%;
    height: 100%;
    background-color: #2a3d52;
}
.img_frame img {
    width: 100%;
    padding: 18% 0;
}
.price_and_button {
    width: 50%;
}
.divbutton input {
    color: white;
    font-size: 1.4vw;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #319A99;
    width: 100%;
    height: 6vw;
    outline: 0;
    border:0;
    cursor: pointer;
}
.other_background {
    background-color: #319A99;
    justify-content: center;
    padding: 5% 0;
}
.color_choice {
    margin-bottom: 3%;
}
.color_choice select {
    background-color: white;
    width: 25%;
}
.decal {
    margin: 10% 0;
}
.last_article {
    text-align: center;
    width: 80%;
    margin: 6% auto 10%;
}
.last_article ul {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: auto;
    margin-top: 5%;
    
}
.list_style span {
    font-weight: bold;
}
ul.list_style {
    list-style-type: initial;
    padding-inline-start: 1em;
    font-size: 2vw;
}
.list_article {
    width: 80%;
    margin: auto;
    margin-top: 8%;
}
#headphone_list {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    justify-content: space-between;
}
.list_article h3 {
    text-align: center;
}
#headphone_list ul {
    padding-inline-start: 1em;
}
#container_ul {
    display: flex;
}
/* Media Querries */

@media (max-width:768px) {
    .first_article, .article {
        flex-direction: column;
    }
    .img_frame, .content {
        margin: auto;
    }
}
@media (max-width: 648px) {
    .divbutton input {
        font-size: 1.8vw;
    }
    .color_choice select {
        width: 60%;
    }

}