h1 {
    width: 100%;
    text-align: center;
    padding-top: 1vw;
    padding-bottom: 1vw;
    background: #2A3D52;
    margin-bottom: 4vw;
}


h1, h2, li {
    color: #f5f5f5;
}


header {
    border-bottom: 1px solid #F5F5F5;
    padding-bottom: 25px;
}


.category {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.container {
    width: 100%;
}


.map {
    display: flex;
    justify-content: space-around;
    margin-top: 10vw;
    margin-bottom: 10vw;
    background-color: #319A99;
    padding-top: 5vw;
    padding-bottom: 5vw;
}


.map h2 {
    font-size: 1.3em;
    text-align: left;
    padding-bottom: 0.5vw;
    margin-bottom: 2vw;
    list-style-type: none;
    width: max-content;
}


.map li {
    list-style-position:inside;
    margin-bottom: 0.4em;
   
}

.map li:first-child {
    list-style-type: none;
    text-align: left;
    width: fit-content(20%);
}


.map ul {
    list-style-type: disc;
}


@media (max-width: 600px) {
    .map {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
}