

/* MEDIAS QUERIES 
@media(max-width:1200px) {
  #right {
    width: 100%;
  }
}
@media(min-width:576px){
  .container{
      max-width: 540px;
  }
  
}
@media(min-width:768px){
  .container{
      max-width: 720px;
  }
}
@media(min-width:992px){
  .container{
      max-width: 960px;
  }
}
@media(min-width:1200px){
  .container{
      max-width: 1140px;
  }
} */
body {
  background-color: #364f6b;
  font-family: "Alegreya Sans", sans-serif;
  /* For all the Page ! */
  font-size: 16px;
  margin: 0px;
  color: white;
}

a {
  color: white;
  margin: 0px;
  padding: 0px;
  text-align: center;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid black;
  color: black;
}

h2 {
  font-family: "Cabin", sans-serif;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

ul {
  list-style-type: none;
}

.alegreya {
  font-family: "Alegreya Sans", sans-serif;
}

.cabin {
  font-family: "Cabin", sans-serif;
}

