  <div id="newsletter">
    <ul>
      <li>Recevez notre newsletter</li>
      <li> <input type="email" placeholder="Entrez votre e-mail" name="newsletter" id="nl-btn"><button
          type="submit">></button></li>
    </ul>
  </div>
  <div id="link" class="alegreya">
    <div id="followus">
      <ul>
        <li>
          <h4>Suivez-nous : </h4>
        </li>
        <li><a href="#" target="_blank" rel="noopener noreferrer"><img src="img/pinterest.svg" alt="pinterest"></a></li>
        <li><a href="#" target="_blank" rel="noopener noreferrer"><img src="img/facebook.svg" alt="facebook"></a>
        </li>
        <li><a href="#" target="_blank" rel="noopener noreferrer"><img src="img/twitter.svg" alt="twitter"></a>
        </li>
      </ul>
    </div>
    <div id="help">
      <ul>
        <li>
          <h4>Assistance</h4>
        </li>
        <li><a href="">Service après-vente</a></li>
        <li><a href="">Mode de réglement</a></li>
        <li><a href="faq.html">FAQ</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
    <div id="about">
      <ul>
        <li>
          <h4>À propos</h4>
        </li>
        <li><a href="">Les médias en parlent</a></li>
      </ul>
    </div>
    <div id="plus">
      <ul>
        <li>
          <h4>Plus</h4>
        </li>
        <li><a href="">Conditions générales de vente</a></li>
        <li><a href="">Conditions générales d'utilisation</a></li>
        <li><a href="">Mentions Légales</a></li>
        <li><a href="sitemap.html">Plan du site</a></li>
      </ul>
    </div>
  </div>
  <div id="copyright">
    <ul>
      <li>
        <a href="index.html">
          <img src="img/logo.png" alt="">
        </a>
      </li>
      <li>© 2020 - 2021 Run'Zik SAS</li>
      <li><img src="img/payplug.png" alt="payplug"></li>
    </ul>
  </div>
  </div>