<div id="header">
  <div id="container_logo">
    <a href="index.html"><img class="logo" src="img/logo.png" alt="logo Run'Zik"></a>
  </div>
  <div class="right">
    <div id="login">
      <a href="#">Inscription</a> <span>/</span> <a href="#">Connexion</a>
    </div>
    <div id="search_cart">
      <div id="search">
        <form>
          <input type="text" name="recherche" placeholder="Rechercher" id="search-btn">
          <button type="reset"><img id="loop" src="img/loupe.png" alt="logo loupe"></button>
        </form>
      </div>
      <div id="cart">
        <img src="img/cart.svg" alt="cart img">
      </div>
    </div>
    <div id="navbar">
      <nav>
        <ul id="menu">
          <li><a href="">La Marque</a></li>
          <li><a href="arm-band.html">Brassard</a></li>
          <li><a href="headphone.html">Casque</a></li>
          <li><a href="watch.html">Montre</a></li>
        </ul>
      </nav>
    </div>
  </div>
  
  <div class="clear">
    <a id="hamburger-btn" onclick="menu()">&#9776;</a>
    <div id="list">
      <ul id="hamburger-menu">
      </ul>
    </div>
  </div>
</div>